# place at /etc/systemd/system/gunicorn.service

[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/Desktop/projects/sync
ExecStart=/home/pi/Desktop/projects/sync/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          sync.wsgi:application

[Install]
WantedBy=multi-user.target
