{% extends 'base.html' %}

{% block content %}


<section class="jumbotron">
    <div class="container">
      <h1 class="jumbotron-heading text-center">File Option</h1>
      <p>
        <form method="post" action="/upload" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="uploadFileInout">Upload File</label>
                <input type="file" class="form-control" id="uploadFileInout" name="file">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success form-control">Upload</button>
            </div>
        </form>

        <p>Uploaded Filed : <a class="btn btn-primary" href="/media/">See Uploaded</a></p>


        <p><a href="{% url 'home' %}">Return to Home</a></p>
      </p>
    </div>
  </section>
{% endblock content %}